<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{main}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="../static/js/other.js" th:src="@{/js/other.js}"></script>
    <title>Other</title>
</head>
<body>
    <div layout:fragment="content">
        <p>Other</p>
    </div>
</body>
</html>